apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: gathering-persephone
spec:
  environments:
    - name: prod
      build:
        from: master
  components:
    - name: server
      src: "."
      ports:
       - name: http
         port: 8000
      publicPort: http
    - name: frontend
      src: "./frontend"
      ports:
        - name: http
          port: 3000
      publicPort: http
  dnsAppAlias:
    environment: prod
    component: server
